@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




.custom-min-h-screen {
  min-height: calc(100vh - 118px); /* Subtract 50 pixels from the full viewport height */
}
body {
  color:#64748b;
  overflow-x: hidden;
}

